<head>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1970&q=80);">
    <div class="container">
       <h2><%= @cocktail.name %></h2>
        <%= link_to 'Add ingredients list for your cocktail', new_cocktail_dose_path(@cocktail)  %>
    </div>
  </div>
</head>


<!-- referencing h2s in css
link to random images
page link after dose form -->
