.btn-gradient {
  color: white;
  font-size: 9px;
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: bold;
  background: #dbb1b6;
  transition: background 0.3s ease;
  border: 0.5px solid #dbb1b6;
}
