.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a.link_to {
  font-size: 14px;
  background-color: none;
  text-decoration: none;
  border: 0.5px solid #B8989C;
  border-radius: 15px;
  padding: 5px 12px;
  text-align: center;
  display: inline-block;
   a:hover {
    color: #9e767b;
  }
}

.button {
  color: blue;
}
